<li class="treeViewLeaf" id="{{~id~}}">
  <a id='{{~id~}}' href='#{{~id~}}'>
    {{#if image}}
      <img class="treeViewImage" src="{{image}}" alt="{{~name~}}">
    {{else}}
      {{~name~}}
    {{/if}}
  </a>
</li>
